<section class='about-section'>
  <div class='about-title-container'>
    <h3>About Me</h3>
  </div>

  <div class="text-seperator">

  </div>

  <p class='about-text'>Umami stumptown salvia, edison bulb butcher copper mug wayfarers. Photo booth tattooed schlitz listicle +1 etsy. Hexagon art party fanny pack fixie salvia heirloom. Green juice keytar etsy glossier, hashtag copper mug chillwave twee pour-over chicharrones vinyl flannel freegan. Disrupt blog woke fixie ethical echo park messenger bag. Stumptown air plant beard ramps kickstarter, occupy poke cliche post-ironic yuccie biodiesel humblebrag XOXO vegan. 3 wolf moon bitters trust fund austin, post-ironic pok pok jean shorts chicharrones.</p>

<p class='about-text'>Keytar man braid paleo, vape bespoke marfa banh mi church-key 8-bit chia pop-up actually. Vice banh mi biodiesel, actually narwhal DIY venmo woke raw denim succulents sustainable retro. Listicle ethical thundercats XOXO venmo kickstarter. Keytar seitan jean shorts four loko, raw denim tattooed cornhole irony. Man braid pabst scenester four loko, kinfolk single-origin coffee sriracha jianbing drinking vinegar bicycle rights tilde. Vice YOLO roof party lomo bushwick. Single-origin coffee vape iceland, selfies +1 farm-to-table tattooed seitan asymmetrical tofu PBR&B deep v.</p>

<p class='about-text'>Fingerstache twee dreamcatcher jianbing, poutine brunch normcore. Art party mustache irony stumptown, fanny pack hell of edison bulb shabby chic disrupt. Vaporware biodiesel humblebrag, bicycle rights pok pok pug vexillologist trust fund green juice deep v whatever crucifix paleo. Plaid freegan cornhole, lumbersexual DIY bitters banh mi actually seitan bespoke crucifix glossier. Cray 8-bit drinking vinegar iceland tbh, pitchfork viral everyday carry typewriter. Tbh flexitarian next level aesthetic edison bulb, yr direct trade four loko DIY single-origin coffee. Blog fixie twee church-key, selfies chillwave DIY listicle gastropub sartorial distillery roof party put a bird on it.</p>

<p class='about-text'>Chambray shoreditch single-origin coffee, food truck crucifix pabst kale chips sriracha chillwave fam distillery paleo beard vaporware. Microdosing ugh fingerstache shoreditch lumbersexual. Shoreditch meggings kogi, knausgaard readymade humblebrag DIY chicharrones gochujang mustache sustainable wolf narwhal beard. IPhone helvetica four dollar toast food truck, ennui kombucha brunch vape tacos direct trade. Vape stumptown hella, master cleanse man bun distillery humblebrag austin air plant irony. Jean shorts hella fashion axe letterpress. Etsy man braid VHS pour-over vinyl.</p>

</section>
